<html>
<head>

</head>
<body>
<footer>
    <div class="container clearfix">
        <div class="left">
            <div class="logo">
                <img src="/images/3836fdaa-1481-499c-937f-34a7e1660b8f.png" alt="" />
            </div>
            <div class="link">
                <div class="link-btn">
                    <p>友情链接</p>
                    <em><img src="/images/link.png" class="vcenter" /></em>
                </div>
                <ul class="link-main">
                    <li><a href="http://www.shwuliu.com/" target="_blank">上海公路货物运输</a></li>
                    <li><a href="http://www.shwuliu.com/" target="_blank">上海公路运输公司</a></li>
                </ul>
            </div>
            <div class="yu">
                <br />
            </div>
        </div>
        <div class="right">
            <ul class="foot-nav clearfix">
                <li> <a href="/about">公司简介</a> </li>
                <li> <a href="/transportService">核心业务</a> </li>
                <!-- <li> <a href="/case/">案例中心</a> </li>-->
                <li> <a href="/companyNews/">新闻资讯</a> </li>
                <li> <a href="/businessProcess">服务中心</a> </li>
                <li> <a href="/message">在线留言</a> </li>
                <li> <a href="/contact">联系我们</a> </li>
            </ul>
            <div class="text">
                电话：18601665132
                <br /> 传真：021-62502320
                <br />
                <p> 地 址：上海市嘉定区纬五路228号 </p>
                <p> <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" target="_blank">沪ICP备19012169号-1</a> </p>
                <p> 上海荣通国际物流有限公司专注于公路运输行业，我们拥有多年的物流行业经验，期待广大客户热烈咨询！ </p>
            </div>
<!--            <div class="ewm">-->
<!--                <p> 手机扫一扫<br /> 关注我们的及时信息 </p>-->
<!--            </div>-->
        </div>
    </div>
</footer>
</body>
</html>



