<html>
<head>

</head>
<body>
<header>
    <div class="top">
        <div class="container">
            <div class="wecome">欢迎进入上海空跃国际物流有限公司官网！我们将竭诚为您提供公路货运运输服务！
            </div>
            <div class="en">
                <a href="/"><i><img src="/images/en.jpg" class="vcenter"></i>En</a>

            </div>
            <div class="top-list">
                <a href="javascript:void(0)" >设为首页</a> <a href="/contact">联系我们</a> <a href="/message">在线询价</a> <a href="/map.shtml">站点地图</a>

            </div>
        </div>
    </div>
    <div class="header clearfix">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="/images/667e0db6-a9fe-4f67-b8df-0fbdd8cb5a17.png" title="上海空越物流有限公司" alt="上海空越物流有限公司" width="402" height="68">
                </a>
            </div>
            <div class="txt">
                <em>年轻化、专业化、高素质</em> <em>网络化、自动化、机械化、信息技术化。</em>

            </div>
<!--            <div class="ewm">-->
<!--                <p>-->
<!--                    扫一扫<br>-->
<!--                    关注我们-->
<!--                </p>-->

<!--            </div>-->
            <div class="tel">
                <i><img src="/images/tel.png" class="vcenter"></i> <em> <span>全国服务热线：</span>
                    <p>
                        118601665132
                    </p>
                </em>

            </div>
        </div>
        <a href="#mmenu" class="iconfont phone-nav"><img src="/images/menu.png" class="vcenter"></a>
    </div>
</header>
</body>
</html>


