<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>
<nav class="nav">
    <div class="container">
        <ul class="clearfix">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/about">公司简介</a>
                <div>

                    <a href="/about">关于我们</a>

                    <a href="/team">我们团队</a>

                    <a href="/honor">荣誉资质</a>

                    <a href="/fencai">企业风采</a>

                </div>
            </li>
            <li class="active">
                <a href="/transportService">核心业务</a>
                <div>
                    <a href="/transportService">运输服务</a>

                    <a href="/storage">仓储</a>

                    <a href="/delivery">配送</a>

                    <a href="/logistics">物流服务</a>


                </div>
            </li>
           <!-- <li>
                <a href="/case/">案例中心</a>
                <div>

                    <a href="/anlzs/">案例展示</a>

                    <a href="/hzkh/">合作客户</a>

                </div>
            </li>-->
            <li>
                <a href="/companyNews">新闻资讯</a>
                <div>

                    <a href="/companyNews">公司新闻</a>

                    <a href="/industryNews/">行业新闻</a>

                </div>
            </li>
            <li>
                <a href="/businessProcess">服务中心</a>
                <div>

                    <a href="/businessProcess">业务流程</a>


                </div>
            </li>
            <li>
                <a href="/message">在线询价</a>
            </li>
            <li>
                <a href="/contact">联系我们</a>
                <div>
                    <a href="/contact">联系我们</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>

