<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>
<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>

<section class="banner-ny clearfix">
    <img src="/images/da69a550-8287-4995-b035-7e6fc7710088.jpg" class="vcenter" />
</section>
<section class="ny about clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>公司简介</big>
                <small>Company Profile</small>
                <ul>
                    <li class="active"> <a href="/about" id="7" title="关于我们">关于我们</a> </li>
                    <li> <a href="/team" id="6" title="我们团队">我们团队</a> </li>
                    <li> <a href="/honor" id="16" title="荣誉资质">荣誉资质</a> </li>
                    <li> <a href="/fencai" id="17" title="企业风采">企业风采</a> </li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>18601665132</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>关于我们</big>
                <div class="crumb">
                    <a href="/">首页</a> &gt;&gt;
                    <a href="/about.shtml">公司简介</a> &gt;&gt;
                    <span>关于我们</span>
                </div>
            </div>
            <br />
            <p class="text-1"> 上海空越国际物流有限公司是经上海工商行政管理局批准，并加入陆上货运交通运输网的大型物流企业。在国内建立了一个一体化的物资配送流通网络，服务范围贯穿货物运输、仓储及市内配送等领域，涵盖了化工、建材、纺织、食品、制药、电器、高科技产品等各行各业。 </p>
            <p class="text-1"> 空越国际物流自建立以来，立足于市场，不断发展，在激烈的竞争中经历了重重考验，在我国加入 WTO 的新形势下，公司制订了新的创业目标，以“全过程、全系统”为服务方针的物流运做体系，已经成为一家非常专业、完善的第三方物流公司。公司凭借雄厚的经济实力和科学管理经验，不断提高服务品质，完善服务体系通过公平竞争扩大市场占有率，并在全国各大城市设有分公司，实现了规模化的集团经营，在运输行业中脱颖而出，且在客户群中建立了良好的口碑。 </p>
            <p class="text-1"> 公司实力强大，拥有现代化仓库5000平方米，车辆类型齐全，适用于各种货物的运输；管理和操作人员都经过专业的物流培训上岗，平均年龄在35岁以下，是一支年轻化、专业化、高素质的队伍；运输和装卸人员对于货物装卸也都经过严格的培训，从而确保货物的安全；我们安装了GPS卫星定位系统及车载电话，每部车辆都能及时跟踪，准确无误的为客户提供运输车辆在运输途中的线路和方位，保证货物及时安全得到达；实现了经营网络化、办公自动化、作业机械化、信息技术化。 </p>
            <p class="text-1"> 为最大程度的保障客户利益，我们与著名保险公司---太平洋保险公司长期合作。我公司是太平洋保险公司保险代理单位，由中国保险监督管理委员会批准，委托办理货物运输业务，并发给《保险代理许可证》。对于我公司所承运的货物都进行投保，为确保客户的经济利益不受损害，从而得到有力的保障。 </p>
            <p style="text-align:center;"> <img alt="" src="/images/e388a97a-c10d-4141-b6ea-50f70c744788.png" /> </p>
            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关新闻</span>RELATED NEWS
                </div>
                <ul class="related_newsmain clearfix">
                    <li> <a href="/newsDetail?uid=0"> 上海公路货物运输给大家讲一下运输大件货物时的问题 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=1"> 上海公路运输公司要做到经济与快速 </a> </li>
                    <li> <a href="/newsDetail?uid=2"> 运输冷藏品时要注意哪些事项 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=3"> 上海公路运输公司:危险品要怎么对待 </a> </li>
                    <li> <a href="/newsDetail?uid=4"> 上海公路运输公司谈谈优化物流运作的四个点 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=5"> 上海公路货物运输总结出四点保养卡车的误区 </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<%- include ../partials/footer.ejs %>
</body>
</html>