<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>
<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>

<section class="banner-ny clearfix">
    <img src="/images/954116a3-173a-45c8-b1fe-751bc8ab0f67.jpg" class="vcenter">
</section>
<section class="ny download clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>服务中心</big>
                <small>Service</small>
                <ul>
                    <li class="active"> <a href="/businessProcess" id="13" title="业务流程">业务流程</a> </li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>400&nbsp;886&nbsp;8156</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>业务流程</big>
                <div class="crumb">
                    <a href="/">首页</a> &gt;&gt;
                    <a href="/charge.shtml">服务中心</a> &gt;&gt;
                    <span>业务流程</span>
                </div>
            </div>
            <div class="video" style="text-align:center;">
                <img src="/images/3c9a04a5-2438-4f6e-afb4-713b1c52b4f6.png" alt="" />
            </div>
            <table style="font-size:13px;" border="1">
                <tbody>
                <tr>
                    <td style="width:100px;text-align:center;"> 接　　单： </td>
                    <td> <p> <br /> </p> <p> 1、公路运输主管从客户处接收邮件（传真）运输发送计划；2、公路运输调度从客户处接出库提货单证。3核对单证 </p> <p> <br /> </p> </td>
                </tr>
                <tr>
                    <td style="width:100px;text-align:center;"> 登 &nbsp;&nbsp;记： </td>
                    <td> <p> <br /> </p> <p> 1、运输调度在登记表上分送货目的地，&nbsp;2司机（指定人员及车辆）到运输调度中心拿提货单，并在运输登统本上确认签收 </p> <p> <br /> </p> </td>
                </tr>
                <tr>
                    <td style="width:100px;text-align:center;"> 车队交接： </td>
                    <td> <p> <br /> </p> <p> 1、根据送货方向，重量、体积、统筹安排车辆。2、报运输计划给客户处，并确认到厂提货时间。 </p> <p> <br /> </p> </td>
                </tr>
                <tr>
                    <td style="width:100px;text-align:center;"> 调用安排： </td>
                    <td> <p> <br /> </p> <p> 1、填写运输计划。2、填写运输在途，送到情况，追踪反馈表。3、电脑输单。 </p> <p> <br /> </p> </td>
                </tr>
                <tr>
                    <td style="width:100px;text-align:center;"> 提货发运： </td>
                    <td> <p> <br /> </p> <p> 1、检查车辆情况。2、按时到达客户提货仓库。3、办理提货手续。4、提货，盖好车棚，锁好箱门。5、办好出厂手续。6、电话通知收货客户预达时间。 </p> <p> <br /> </p> </td>
                </tr>
                <tr>
                    <td style="width:100px;text-align:center;"> 在途追踪： </td>
                    <td> <p> <br /> </p> <p> 1、建立收货客户档案。2、司机及时反馈途中信息。3、与收货客户电话联系送货情况。4、填写跟踪记录。5、有异常情况及时与客户联系 </p> <p> <br /> </p> </td>
                </tr>
                <tr>
                    <td style="width:100px;text-align:center;"> 到达签收： </td>
                    <td> <p> <br /> </p> <p> 1、电话或传真确认到达时间。2、司机将回单用EMS或FAX传真回冀通物流。3、签收运输单。4、定期将回单送至客户处。5、按时准确到达指定卸货地点。6、货物交接。 </p> <p> <br /> </p> </td>
                </tr>
                <tr>
                    <td style="width:100px;text-align:center;"> 回　　单： </td>
                    <td> <p> <br /> </p> <p> 1、百分百签收，保证运输产品的数量和质量与客户出库单一至。 </p> <p> <br /> </p> </td>
                </tr>
                <tr>
                    <td style="width:100px;text-align:center;"> 运输结算： </td>
                    <td> <p> <br /> </p> <p> 1、整理好收费票据。2、做好收费汇总表交至客户，确认后交回结算中心。3、结算中心开具发票，向客户收取运费。 </p> <p> <br /> </p> </td>
                </tr>
                </tbody>
            </table>
            <br />
            <br />
            <table style="font-size:13px;padding:0 6px;" width="950" border="1">
                <tbody>
                <tr>
                    <th width="174">
                        <div style="font-weight:normal;" align="center">
                            项目
                        </div> </th>
                    <th width="103">
                        <div style="font-weight:normal;" align="center">
                            标准
                        </div> </th>
                    <th width="163">
                        <div style="font-weight:normal;" align="center">
                            计算方法
                        </div> </th>
                    <th style="font-weight:normal;" width="472"> 描述 </th>
                </tr>
                <tr>
                    <th>
                        <div style="font-weight:normal;" align="center">
                            检查车辆率
                        </div> </th>
                    <td>
                        <div align="center">
                            &gt;99％
                        </div> </td>
                    <td>
                        <div align="center">
                            -------------
                        </div> </td>
                    <td style="padding:0 10px;"> <br /> <strong>荣通物流</strong>设有专门车检部门，每日对车辆执行任务 <br /> <br /> </td>
                </tr>
                <tr>
                    <th>
                        <div style="font-weight:normal;" align="center">
                            准时提货率
                        </div> </th>
                    <td>
                        <div align="center">
                            &gt;99％
                        </div> </td>
                    <td>
                        <div align="center">
                            准时/每月总运单
                        </div> </td>
                    <td style="padding:0 10px;"> <br /> 根据客户要求准时调派车辆 <br /> <br /> </td>
                </tr>
                <tr>
                    <th>
                        <div style="font-weight:normal;" align="center">
                            准时到达率
                        </div> </th>
                    <td>
                        <div align="center">
                            &gt;99％
                        </div> </td>
                    <td>
                        <div align="center">
                            准时/每月总运单
                        </div> </td>
                    <td style="padding:0 10px;"> <br /> 根据客户要求准时送到<br /> <br /> </td>
                </tr>
                <tr>
                    <th>
                        <div style="font-weight:normal;" align="center">
                            实时信息反馈及时率
                        </div> </th>
                    <td>
                        <div align="center">
                            =100％
                        </div> </td>
                    <td>
                        <div align="center">
                            100%实时信息
                        </div> </td>
                    <td style="padding:0 10px;"> <br /> 24小时/7天，年中无假<br /> <br /> </td>
                </tr>
                <tr>
                    <th>
                        <div style="font-weight:normal;" align="center">
                            运输准确率
                        </div> </th>
                    <td>
                        <div align="center">
                            &gt;99％
                        </div> </td>
                    <td>
                        <div align="center">
                            准确到达/每月总运单
                        </div> </td>
                    <td style="padding:0 10px;"> <br /> 每天定时货物跟踪保证准时货物到达，通过手机通信及GPS卫星定位对货物在途情况及时更新<br /> <br /> </td>
                </tr>
                <tr>
                    <th>
                        <div style="font-weight:normal;" align="center">
                            运输破损率
                        </div> </th>
                    <td>
                        <div align="center">
                            &gt;0.1％
                        </div> </td>
                    <td>
                        <div align="center">
                            月破损箱数/月承运箱数
                        </div> </td>
                    <td rowspan="2" style="padding:0 10px;"> <br /> <p> <strong>荣通物流</strong>的司机和战略性的运输伙伴都有丰富的专业知识和实践及经验。能够在运输途中保管好客户的货运输途中保管好客户的货物，避免不必要的货物破损和损失。 </p> <br /> <br /> </td>
                </tr>
                <tr>
                    <th>
                        <div style="font-weight:normal;" align="center">
                            运输事故率
                        </div> </th>
                    <td>
                        <div align="center">
                            &lt;0.01％
                        </div> </td>
                    <td>
                        <div align="center">
                            每100000公里事故次数小于1次
                        </div> </td>
                </tr>
                <tr>
                    <th>
                        <div style="font-weight:normal;" align="center">
                            签收单返回率
                        </div> </th>
                    <td>
                        <div align="center">
                            =100％
                        </div> </td>
                    <td>
                        <div align="center">
                            100％签收单返回
                        </div> </td>
                    <td style="padding:0 10px;"> <br /> <strong>荣通物流</strong>有专业人员管理签收单<br /> <br /> </td>
                </tr>
                <tr>
                    <th>
                        <div style="font-weight:normal;" align="center">
                            节假日响应
                        </div> </th>
                    <td>
                        <div align="center">
                            =100％
                        </div> </td>
                    <td>
                        <div align="center">
                            -------------
                        </div> </td>
                    <td style="padding:0 10px;"> <br /> 要求客户提前一天通知物流。<br /> <br /> </td>
                </tr>
                </tbody>
            </table>
            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关新闻</span>RELATED NEWS
                </div>
                <ul class="related_newsmain clearfix">
                    <li> <a href="/hyxw/shglhwys109.shtml"> 上海公路货物运输给大家讲一下运输大件货物时的问题 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglysgs0925.shtml"> 上海公路运输公司要做到经济与快速 </a> </li>
                    <li> <a href="/hyxw/shglysgs0910.shtml"> 运输冷藏品时要注意哪些事项 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglysgs0903.shtml"> 上海公路运输公司:危险品要怎么对待 </a> </li>
                    <li> <a href="/hyxw/shglysgs0830.shtml"> 上海公路运输公司谈谈优化物流运作的四个点 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglhwys0827.shtml"> 上海公路货物运输总结出四点保养卡车的误区 </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<%- include ../partials/footer.ejs %>
</body>
</html>