<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>
<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
<section class="banner-ny clearfix">
    <img src="/images/e020b348-6b72-4834-8741-e6a8cfd447ae.jpg" class="vcenter">
</section>

<section class="ny news clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>新闻资讯</big>
                <small>News</small>
                <ul>
                    <li class="active"><a href="/companyNews" title="公司新闻" id="4">公司新闻</a></li>
                    <li><a href="/industryNews" title="行业新闻" id="3">行业新闻</a></li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>400&nbsp;886&nbsp;8156</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>公司新闻</big>
                <div class="crumb">
                    <a href="/" class="SiteMapPathClass">首页</a> &gt;&gt;
                    <a href="/companyNews" class="SiteMapPathClass">新闻资讯</a> &gt;&gt;
                    <span>公司新闻</span>
                </div>
            </div>
            <div class="news-main clearfix">
                <ul>
                    <li> <a href="/newsDetail"> <time> <big>20</big> <small>2017-11</small> </time>
                            <div class="txt">
                                <span>大件运输物流服务的注意事项</span>
                                <p>在物流行业之中，常常会需要运输很多的特大设备，这种运输特大物件的工作被称为大件运输。大件运输不同于一般的小件产品运输，大件运输常常需要满足很多的条件，并且，大件运输业要注意很多的事项，接下来我们就来说说大件运输需要注意的几个方面。一、在运输前，这些大件的设备需要办理相关的手续，办理托运的人需要把货物...</p>
                            </div> </a> </li>
                </ul>
            </div>
            <div class="page">
            </div>
        </div>
    </div>
</section>
<%- include ../partials/footer.ejs %>
</body>
</html>