<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>
<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>

<section class="banner-ny clearfix">
    <img src="/images/6b84eeb9-3c04-4d59-b355-98282adcdb5c.jpg" class="vcenter">
</section>
<section class="ny contact clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>联系我们</big>
                <small>Contact Us</small>
                <ul>
                    <li class="active"> <a href="/contact" id="3" title="联系我们">联系我们</a> </li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>18601665132</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>联系我们</big>
                <div class="crumb">
                    <a href="/">首页</a> &gt;&gt;
                    <a href="/contact">联系我们</a> &gt;&gt;
                    <span>联系我们</span>
                </div>
            </div>
            <div class="part-1 clearfix">
                <p style="font-size:15px;"> 上海空越国际物流有限公司欢迎你的致电：18601665132 </p>
                <ul>
                    <li> <p class="text-1"> <i><img class="vcenter" src="/images/addr1.png" /></i> 地址：上海市嘉定区纬五路228号 </p> <p class="text-1"> <i><img class="vcenter" src="/images/tel.png" /></i>业务热线：18601665132 冯女士 </p> </li>
                    <li class="li-1"> <p class="text-1"> <i><img class="vcenter" src="/images/web.png" /></i> 网址： <a href="www.shwuliu.com" target="_blank">www.shwuliu.com</a> </p> <p class="text-1"> <i><img class="vcenter" src="/images/chuanzhen.png" /></i>传真：021-62502320 </p> </li>
                    <li class="li-2"> <p class="text-1"> <i><img class="vcenter" src="/images/kefu.png" /></i>全国热线：18601665132 </p> <p class="text-1"> <br /> </p> </li>
                </ul>
                <div class="cont-map clearfix">
                    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=2jI0wGhS9SLgq0QmuV2NwLXP"></script>
                    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=2jI0wGhS9SLgq0QmuV2NwLXP&amp;services=&amp;t=20190622163250"></script>
                    <div id="allmap" style="overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;">
                        <div style="overflow: visible; position: absolute; z-index: 0; left: 0px; top: 0px; cursor: grab;">
                            <div class="BMap_mask" style="position: absolute; left: 0px; top: 0px; z-index: 9; overflow: hidden; user-select: none; width: 924px; height: 376px;"></div>
                            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;">
                                <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;"></div>
                                <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;">
                                    <span class="BMap_Marker BMap_noprint" unselectable="on" "="" style="position: absolute; padding: 0px; margin: 0px; border: 0px none; user-select: none; cursor: pointer; background: rgba(0, 0, 0, 0) url(&quot;http://api0.map.bdimg.com/images/blank.gif&quot;) repeat scroll 0% 0%; width: 19px; height: 25px; left: 267px; top: 230px; z-index: -6263262;" title=""></span>
                                    <span class="BMap_Marker BMap_noprint" unselectable="on" "="" style="position: absolute; padding: 0px; margin: 0px; border: 0px none; user-select: none; cursor: pointer; background: rgba(0, 0, 0, 0) url(&quot;http://api0.map.bdimg.com/images/blank.gif&quot;) repeat scroll 0% 0%; width: 18px; height: 18px; left: 216px; top: 27px; z-index: 19000000; display: none;" title=""></span>
                                </div>
                                <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;"></div>
                                <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;">
                                    <label class="BMapLabel" unselectable="on" style="position: absolute; user-select: none; display: none; cursor: inherit; background-color: rgb(190, 190, 190); border: 1px solid rgb(190, 190, 190); padding: 1px; white-space: nowrap; font: 12px arial, simsun, sans-serif; z-index: -20000; color: rgb(190, 190, 190);">shadow</label>
                                    <label class="BMapLabel" unselectable="on" style="position: absolute; user-select: none; display: none; cursor: inherit; background-color: rgb(255, 255, 225); border: 1px solid rgb(140, 140, 140); padding: 1px; white-space: nowrap; font: 12px arial, simsun, sans-serif; z-index: 80; color: rgb(77, 77, 77);">点击可查看详情</label>
                                </div>
                                <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 400;">
           <span class="BMap_Marker" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 0px; height: 0px; user-select: none; left: 267px; top: 230px; z-index: -6263262;">
            <div style="position: absolute; margin: 0px; padding: 0px; width: 19px; height: 25px; overflow: hidden;">
             <img src="http://api0.map.bdimg.com/images/marker_red_sprite.png" style="display: block; border:none;margin-left:0px; margin-top:0px; " />
            </div></span>
                                    <span class="BMap_Marker" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 0px; height: 0px; user-select: none; left: 216px; top: 27px; z-index: 19000000; display: none;">
            <div style="position: absolute; margin: 0px; padding: 0px; width: 18px; height: 18px; overflow: hidden;">
             <img src="http://api0.map.bdimg.com/images/spotmkrs.png" style="display: block; border:none;margin-left:-166px; margin-top:0px; " />
            </div></span>
                                </div>
                                <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 300;">
           <span unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 20px; height: 11px; user-select: none; left: 271px; top: 244px;">
            <div style="position: absolute; margin: 0px; padding: 0px; width: 20px; height: 11px; overflow: hidden;">
             <img src="http://api0.map.bdimg.com/images/marker_red_sprite.png" style="display: block; border:none;margin-left:-19px; margin-top:-13px; " />
            </div></span>
                                </div>
                                <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div>
                                <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div>
                            </div>
                            <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;">
                                <div style="position: absolute; overflow: visible; z-index: -100; left: 462px; top: 188px; display: block; transform: translate3d(0px, 0px, 0px);">
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: -613px; top: -67px; max-width: none; opacity: 1;" src="http://online2.map.bdimg.com/tile/?qt=vtile&amp;x=3296&amp;y=891&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: -357px; top: -323px; max-width: none; opacity: 1;" src="http://online4.map.bdimg.com/tile/?qt=vtile&amp;x=3297&amp;y=892&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: 155px; top: -67px; max-width: none; opacity: 1;" src="http://online0.map.bdimg.com/tile/?qt=vtile&amp;x=3299&amp;y=891&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: 411px; top: -67px; max-width: none; opacity: 1;" src="http://online1.map.bdimg.com/tile/?qt=vtile&amp;x=3300&amp;y=891&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: -357px; top: -67px; max-width: none; opacity: 1;" src="http://online3.map.bdimg.com/tile/?qt=vtile&amp;x=3297&amp;y=891&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: -613px; top: -323px; max-width: none; opacity: 1;" src="http://online3.map.bdimg.com/tile/?qt=vtile&amp;x=3296&amp;y=892&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: 155px; top: -323px; max-width: none; opacity: 1;" src="http://online1.map.bdimg.com/tile/?qt=vtile&amp;x=3299&amp;y=892&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: -101px; top: -67px; max-width: none; opacity: 1;" src="http://online4.map.bdimg.com/tile/?qt=vtile&amp;x=3298&amp;y=891&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: -101px; top: -323px; max-width: none; opacity: 1;" src="http://online0.map.bdimg.com/tile/?qt=vtile&amp;x=3298&amp;y=892&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                    <img style="user-select: none; position: absolute; border: medium none; width: 256px; height: 256px; left: 411px; top: -323px; max-width: none; opacity: 1;" src="http://online2.map.bdimg.com/tile/?qt=vtile&amp;x=3300&amp;y=892&amp;z=14&amp;styles=pl&amp;scaler=1&amp;udt=20190929" />
                                </div>
                            </div>
                            <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 2; display: none; visibility: hidden;">
                                <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 0; display: none;"></div>
                                <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 10; display: none;"></div>
                            </div>
                            <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 3;"></div>
                        </div>
                        <div class="pano_close" style="z-index: 1201; display: none;" title="退出全景"></div>
                        <a class="pano_pc_indoor_exit" style="z-index: 1201; display: none;" title="退出室内景"><span style="float:right;margin-right:12px;">出口</span></a>
                        <div style="height: 32px; position: absolute; z-index: 30; user-select: none; -moz-text-size-adjust: none; inset: auto auto 20px 1px;" class=" anchorBL">
                            <a title="到百度地图查看此区域" target="_blank" href="http://map.baidu.com/?sr=1" style="outline: currentcolor none medium;"><img style="border:none;width:77px;height:32px" src="http://api0.map.bdimg.com/images/copyright_logo.png" /></a>
                        </div>
                        <div id="zoomer" style="position:absolute;z-index:0;top:0px;left:0px;overflow:hidden;visibility:hidden;cursor:-moz-grab">
                            <div class="BMap_zoomer" style="top:0;left:0;"></div>
                            <div class="BMap_zoomer" style="top:0;right:0;"></div>
                            <div class="BMap_zoomer" style="bottom:0;left:0;"></div>
                            <div class="BMap_zoomer" style="bottom:0;right:0;"></div>
                        </div>
                        <div unselectable="on" class=" BMap_cpyCtrl BMap_noprint anchorBL" style="cursor: default; white-space: nowrap; user-select: none; color: black; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font: 11px/15px arial, simsun, sans-serif; inset: auto auto 2px 2px; position: absolute; z-index: 10; -moz-text-size-adjust: none;">
                            <span _cid="1" style="display: inline;"><span style="background: rgba(255, 255, 255, 0.701961);padding: 0px 1px;line-height: 16px;display: inline;height: 16px;">&copy;&nbsp;2019 Baidu - GS(2018)5572号 - 甲测资字1100930 - 京ICP证030173号 - Data &copy; 长地万方</span></span>
                        </div>
                    </div>
                    <script type="text/javascript">
						// 百度地图API功能
						var map = new BMap.Map("allmap");
						var point = new BMap.Point(121.336549,31.31631);
						var marker = new BMap.Marker(point); // 创建标注
						map.addOverlay(marker); // 将标注添加到地图中
						map.centerAndZoom(point, 15);
						map.enableScrollWheelZoom(); //启用滚轮放大缩小，默认禁用
						map.enableContinuousZoom(); //启用地图惯性拖拽，默认禁用
						var opts = {
							title: "空越国际物流", // 信息窗口标题
							enableMessage: true, //设置允许信息窗发送短息
							message: "上海市嘉定区纬五路228号"
						}
						var infoWindow = new BMap.InfoWindow("地址：上海市嘉定区纬五路228号", opts); // 创建信息窗口对象
						marker.addEventListener("click", function () {
							map.openInfoWindow(infoWindow, point); //开启信息窗口
						});
                    </script>
                </div> &nbsp;&nbsp; &nbsp;&nbsp;
            </div>
            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关新闻</span>RELATED NEWS
                </div>
                <ul class="related_newsmain clearfix">
                    <li> <a href="/newsDetail?uid=0"> 上海公路货物运输给大家讲一下运输大件货物时的问题 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=1"> 上海公路运输公司要做到经济与快速 </a> </li>
                    <li> <a href="/newsDetail?uid=2"> 运输冷藏品时要注意哪些事项 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=3"> 上海公路运输公司:危险品要怎么对待 </a> </li>
                    <li> <a href="/newsDetail?uid=4"> 上海公路运输公司谈谈优化物流运作的四个点 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=5"> 上海公路货物运输总结出四点保养卡车的误区 </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include ../partials/footer.ejs %>

</body>
</html>