<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>
<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
<section class="banner-ny clearfix">
    <img src="/images/6982c7a5-da19-47d8-a064-61e082e8ed7e.jpg" class="vcenter">
</section>

<section class="ny core-show clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>核心业务</big>
                <small>PRODUCT</small>
                <ul>
                    <li> <a href="/transportService" title="运输服务" id="8" class="aa">运输服务</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li> <a href="/storage" title="仓储" id="7" class="aa">仓储</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li class="active"> <a href="/delivery" title="配送" id="6" class="aa">配送</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li> <a href="/logistics" title="物流服务" id="5" class="aa">物流服务</a>
                        <div style="padding: 0px;">
                        </div> </li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>18601665132</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>配送</big>
                <div class="crumb">
                    <a href="/" class="SiteMapPathClass">首页</a> &gt;&gt;
                    <a href="/core/" class="SiteMapPathClass">核心业务</a> &gt;&gt;
                    <a href="/psfw/" class="SiteMapPathClass">配送</a> &gt;&gt;
                    <span>配送</span>
                </div>
            </div>
            <div class="part-1 clearfix">
                <div class="pic">
                    <img src="/images/14c7bcf7-bdbf-4e2c-8891-a321f1067f0d.jpg" class="vcenter" />
                </div>
                <div class="txt">
                    <big>配送</big>
                    <div class="text1">
                        GPS即全球定位系统”的简称，GPS导航系统与电子地图、无线电通信网络及计算机车辆管理信息系统相结合，可以实现车辆跟踪和交通管理等许多功能：A车辆跟踪B提供出行路线的规划与导航C信息查询D话务指挥E紧急救助，根据基地发展情况，基地将采用GPS全球定位系统，来实现车辆跟管理。
                    </div>
                </div>
            </div>
            <div class="core-showmain clearfix">
                <ul class="core-title clearfix">
                    <li class="active">产品详情</li>
                    <li>在线询价</li>
                </ul>
                <div class="content">
                    <div class="core-nr">
                        <p class="text-1"> GPS即全球定位系统”的简称，GPS导航系统与电子地图、无线电通信网络及计算机车辆管理信息系统相结合，可以实现车辆跟踪和交通管理等许多功能：A车辆跟踪B提供出行路线的规划与导航C信息查询D话务指挥E紧急救助，根据基地发展情况，基地将采用GPS全球定位系统，来实现车辆跟管理。 </p>
                        <p class="img"> <img alt="" src="/images/8577f61d-af66-4ff9-9902-35c2a782faa7.png" /> </p>
                    </div>
                    <div class="core-nr" style="display: none;">
                        <dl class="message clearfix">
                            <form>
                                <dd>
                                    <ul>
                                        <li> <p class="p1"><input type="text" placeholder="姓名" id="username" maxlength="20" /></p> <p class="p2"><input type="text" placeholder="电话（必填）" id="tel" maxlength="20" /><font>电话不能为空</font></p> </li>
                                        <li><input type="text" placeholder="邮箱（必填）" id="email" maxlength="50" /><font>邮箱不能为空</font></li>
                                        <li><input type="text" placeholder="地址" id="addr" maxlength="80" /></li>
                                        <li> <small><input type="text" placeholder="验证码" id="codes" maxlength="4" /><font style="right:45%">验证码不能为空</font></small> <a href="javascript:void(0)" onclick="$(&quot;#ImageKey&quot;).attr(&quot;src&quot;, &quot;/TrueLand_T_Site_Login/CodeImage.aspx?dump=&quot; + Math.random());" class="code"><img src="/TrueLand_T_Site_Login/CodeImage.aspx" alt="" id="ImageKey" class="vcenter" style="width:129px;" /> </a> </li>
                                    </ul>
                                </dd>
                                <dt>
                                    <ul>
                                        <li> <textarea type="text" placeholder="留言内容（必填）" id="contents"></textarea><font>留言内容不能为空</font> </li>
                                        <li><a href="javascript:;" id="send">提交留言</a></li>
                                    </ul>
                                </dt>
                            </form>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="line">
                <img src="/images/news-line.png" />
            </div>
            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关产品</span>Related PRODUCTS
                </div>
                <div class="core-main clearfix">
                    <ul>
                        <li> <a href="#">
                                <div class="pic">
                                    <img src="/images/0c665005-84ff-4944-bf62-74b0c4eb4bd6.jpg" class="vcenter" />
                                </div>
                                <div class="mask">
                                    <em> <big></big> </em>
                                    <button>配送2</button>
                                </div> </a> </li>
                        <li> <a href="#">
                                <div class="pic">
                                    <img src="/images/0445641c-c3b0-430e-bbf1-3637553bb6fa.jpg" class="vcenter" />
                                </div>
                                <div class="mask">
                                    <em> <big></big> </em>
                                    <button>配送1</button>
                                </div> </a> </li>
                    </ul>
                </div>
            </div>
            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关新闻</span>RELATED NEWS
                </div>
                <ul class="related_newsmain clearfix">
                    <li> <a href="/newsDetail?uid=0"> 上海公路货物运输给大家讲一下运输大件货物时的问题 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=1"> 上海公路运输公司要做到经济与快速 </a> </li>
                    <li> <a href="/newsDetail?uid=2"> 运输冷藏品时要注意哪些事项 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=3"> 上海公路运输公司:危险品要怎么对待 </a> </li>
                    <li> <a href="/newsDetail?uid=4"> 上海公路运输公司谈谈优化物流运作的四个点 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=5"> 上海公路货物运输总结出四点保养卡车的误区 </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include ../partials/footer.ejs %>
</body>
</html>