<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>

<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
<section class="banner-ny clearfix">
    <img src="/images/da69a550-8287-4995-b035-7e6fc7710088.jpg" class="vcenter" />
</section>
<section class="ny about clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>公司简介</big>
                <small>Company Profile</small>
                <ul>
                    <li> <a href="/about" id="7" title="关于我们">关于我们</a> </li>
                    <li> <a href="/team" id="6" title="我们团队">我们团队</a> </li>
                    <li class="active"> <a href="/honor" id="16" title="荣誉资质">荣誉资质</a> </li>
                    <li> <a href="/fencai" id="17" title="企业风采">企业风采</a> </li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>400&nbsp;886&nbsp;8156</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>荣誉资质</big>
                <div class="crumb">
                    <a href="/">首页</a> &gt;&gt;
                    <a href="/about.shtml">公司简介</a> &gt;&gt;
                    <span>荣誉资质</span>
                </div>
            </div>
            <div style="text-align:center;" align="left">
                <br />
                <img alt="" src="/images/a87a8781-a3fe-4e31-a06c-8b858f06cbca.jpg" />s
            </div>
            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关新闻</span>RELATED NEWS
                </div>
                <ul class="related_newsmain clearfix">
                    <li> <a href="/hyxw/shglhwys109.shtml"> 上海公路货物运输给大家讲一下运输大件货物时的问题 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglysgs0925.shtml"> 上海公路运输公司要做到经济与快速 </a> </li>
                    <li> <a href="/hyxw/shglysgs0910.shtml"> 运输冷藏品时要注意哪些事项 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglysgs0903.shtml"> 上海公路运输公司:危险品要怎么对待 </a> </li>
                    <li> <a href="/hyxw/shglysgs0830.shtml"> 上海公路运输公司谈谈优化物流运作的四个点 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglhwys0827.shtml"> 上海公路货物运输总结出四点保养卡车的误区 </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<%- include ../partials/footer.ejs %>
</body>
</html>