<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
    <!--
    <link rel='stylesheet' href='/stylesheets/s2.css' />-->
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/AddAndSet.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.mmenu.min.js" type="text/javascript"></script>
    <script src="/javascripts/slick.min.js" type="text/javascript"></script>
    <script src="/javascripts/public.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.placeholder.min.js" type="text/javascript"></script>
    <script src="/javascripts/vue.js" type="text/javascript"></script>


  </head>
  <body>
  <%- include ../partials/header.ejs %>
  <%- include ../partials/nav.ejs %>
  <section class="clearfix" id="bannerz">
    <div class="banner-pc clearfix">
      <ul style="margin-left: 0px;">
        <li style="width: 1903px;"> <a href=""><img src="/images/73347385-d2e5-45ba-8c43-61729c35fec5.jpg" class="vcenter" /></a> </li>
        <li style="width: 1903px;"> <a href=""><img src="/images/48749d7f-be14-4182-9bb1-454b188eb4ac.jpg" class="vcenter" /></a> </li>
        <li style="width: 1903px;"> <a href=""><img src="/images/8a0e50a2-e505-4b7b-99a0-6c21fce7453f.jpg" class="vcenter" /></a> </li>
      </ul>
      <a href="javascript:;" class="bannerpc-prev">&nbsp;</a>
      <a href="javascript:;" class="bannerpc-next">&nbsp;</a>
    </div>
    <div class="banner-phone clearfix slick-initialized slick-slider" style="">
      <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
      <div aria-live="polite" class="slick-list draggable">
        <div class="slick-track" style="opacity: 1; width: 0px; left: 0px;" role="listbox">
          <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 0px;" tabindex="-1">
            <span> <a href="" tabindex="-1"><img src="/images/1b9fc70d-0335-4b19-bc5f-39de669c0ab4.jpg" class="vcenter" /></a> </span>
          </div>
          <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px;" tabindex="-1" role="option" aria-describedby="slick-slide20">
            <span> <a href="" tabindex="0"><img src="/images/70197664-4c66-4ddd-9677-a54a476d8771.jpg" class="vcenter" /></a> </span>
          </div>
          <div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 0px;" tabindex="-1" role="option" aria-describedby="slick-slide21">
            <span> <a href="" tabindex="-1"><img src="/images/8b6eb72c-3940-4374-9f25-71e0dee555ef.jpg" class="vcenter" /></a> </span>
          </div>
          <div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 0px;" tabindex="-1" role="option" aria-describedby="slick-slide22">
            <span> <a href="" tabindex="-1"><img src="/images/1b9fc70d-0335-4b19-bc5f-39de669c0ab4.jpg" class="vcenter" /></a> </span>
          </div>
          <div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 0px;" tabindex="-1">
            <span> <a href="" tabindex="-1"><img src="/images/70197664-4c66-4ddd-9677-a54a476d8771.jpg" class="vcenter" /></a> </span>
          </div>
        </div>
      </div>
      <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button>
    </div>
  </section>
  <section class="home-1 clearfix">
    <div class="container">
      <div class="home-title clearfix slick-initialized slick-slider">
        <div aria-live="polite" class="slick-list draggable">
          <div class="slick-track" style="opacity: 1; width: 1200px; left: 0px;" role="listbox">
            <div class="home-nr slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 240px;" tabindex="-1" role="option" aria-describedby="slick-slide10">
              <div class="txt">
                <div class="pic">
                  <img src="/images/home-2.png" class="vcenter" />
                </div>
                <big>业务领域</big>
              </div>
              <p> 全国无盲点派送服务 保证运输货物安全、准时到达 </p>
            </div>
            <div class="home-nr slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 240px;" tabindex="-1" role="option" aria-describedby="slick-slide11">
              <div class="txt">
                <div class="pic">
                  <img src="/images/home-1.png" class="vcenter" />
                </div>
                <big>业务涵盖</big>
              </div>
              <p> 运输 仓储 配送 方案咨询 长途货运 </p>
            </div>
            <div class="home-nr slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 240px;" tabindex="-1" role="option" aria-describedby="slick-slide12">
              <div class="txt">
                <div class="pic">
                  <img src="/images/home-3.png" class="vcenter" />
                </div>
                <big>优势特点</big>
              </div>
              <p> 优良的货运服务讲求速度，准确专业的服务知识 </p>
            </div>
            <div class="home-nr slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 240px;" tabindex="-1" role="option" aria-describedby="slick-slide13">
              <div class="txt">
                <div class="pic">
                  <img src="/images/home-4.png" class="vcenter" />
                </div>
                <big>服务宗旨</big>
              </div>
              <p> 没有最好 只有更好 竭诚为您服务 </p>
            </div>
            <div class="home-nr slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 240px;" tabindex="-1" role="option" aria-describedby="slick-slide14">
              <div class="txt">
                <div class="pic">
                  <img src="/images/home-5.png" class="vcenter" />
                </div>
                <big>物流体系</big>
              </div>
              <p> 完善的物流体系 与全国各地实力物流公司均有合作 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-2 clearfix">
    <div class="container">
      <div class="home-news">
        <span> 热门搜索： </span>
        <ul>
          <li> <a href="/">运输服务、仓储、配送、方案咨询、运输车辆</a> </li>
        </ul>
      </div>
      <div class="search">
        <div class="web">
          <span>整站搜索：</span>
        </div>
        <div class="search-main">
          <div class="search-left">
            <div class="search-click">
              <i><img src="/images/trangle.png" class="vcenter" /></i>
              <p>产品</p>
            </div>
            <ul>
              <li>产品</li>
              <li>新闻</li>
            </ul>
          </div>
          <div class="search-right">
            <input type="text" id="keywords" placeholder="请输入关键字 .." />
            <a href="javascript:void(0)" class="search-btn">搜索</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home-products clearfix">
    <div class="container clearfix">
      <div class="left-nav">
        <div class="title">
          <big>核心业务</big>
          <small>PRODUCT</small>
        </div>
        <ul>
          <li> <a href="/transportService">运输服务</a>
            <div style="" class="hproclass">
            </div> </li>
          <li> <a href="/storage">仓储</a>
            <div style="display:none" class="hproclass">
            </div> </li>
          <li> <a href="/delivery">配送</a>
            <div style="display:none" class="hproclass">
            </div> </li>
          <li> <a href="/logistics">物流服务</a>
            <div style="display:none" class="hproclass">
            </div> </li>
<!--          <li> <a href="/yscl/">运输车辆</a>-->
<!--            <div style="display:none" class="hproclass">-->
<!--            </div> </li>-->
        </ul>
      </div>
      <div class="right">
        <div class="title">
          核心业务
          <a href="/core/" class="more"> 查看更多 &gt;&gt; </a>
        </div>
        <ul class="main clearfix">
          <li> <a href="/storage">
              <div class="pic">
                <img src="/images/cc066303-c589-4ea4-9337-80835f3423be.jpg" class="vcenter" />
              </div>
              <div class="mask">
                <em> <big>Transport vehicle</big> </em>
                <button>6.8米箱式货车</button>
              </div>
              <div class="sy_pro">
                点击可进入详情页
              </div> </a> </li>
          <li> <a href="/storage">
              <div class="pic">
                <img src="/images/67445a21-ef4b-4ccc-a07e-f7d99e072072.jpg" class="vcenter" />
              </div>
              <div class="mask">
                <em> <big></big> </em>
                <button>9.6米高栏货车</button>
              </div>
              <div class="sy_pro">
                点击可进入详情页
              </div> </a> </li>
          <li> <a href="/storage">
              <div class="pic">
                <img src="/images/50aaa8d2-4cf6-4cd2-bde8-0ff77d17625d.jpg" class="vcenter" />
              </div>
              <div class="mask">
                <em> <big></big> </em>
                <button>9.6米飞翼货车</button>
              </div>
              <div class="sy_pro">
                点击可进入详情页
              </div> </a> </li>
          <li> <a href="/storage">
              <div class="pic">
                <img src="/images/0c665005-84ff-4944-bf62-74b0c4eb4bd6.jpg" class="vcenter" />
              </div>
              <div class="mask">
                <em> <big></big> </em>
                <button>配送2</button>
              </div>
              <div class="sy_pro">
                点击可进入详情页
              </div> </a> </li>
          <li> <a href="/storage">
              <div class="pic">
                <img src="/images/0445641c-c3b0-430e-bbf1-3637553bb6fa.jpg" class="vcenter" />
              </div>
              <div class="mask">
                <em> <big></big> </em>
                <button>配送1</button>
              </div>
              <div class="sy_pro">
                点击可进入详情页
              </div> </a> </li>
          <li> <a href="/storage">
              <div class="pic">
                <img src="/images/b8b6459c-527f-4368-baa7-0281f97a8523.jpg" class="vcenter" />
              </div>
              <div class="mask">
                <em> <big></big> </em>
                <button>仓储6</button>
              </div>
              <div class="sy_pro">
                点击可进入详情页
              </div> </a> </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="home-about clearfix">
    <div class="container">
      <div class="left clearfix">
        <div class="pic">
          <img class="vcenter" src="/images/home-6.png" />
        </div>
        <div class="text">
          公司管理和操作人员都经专业的物流培训上岗，平均年龄在35岁以下，是一支年轻化、专业化、高素质的队伍，驾驶员也是具有专业和高素质人群。长途和市内可调派各式货车，拥有集装箱、半封闭、平板车等各类特种车型，备有3T、5T、10T、50T的进口货车，6米到17米的各类车型货运全国各地，自备仓储，提供门对门的优质服务代办运输保险，安全快捷...
        </div>
      </div>
      <div class="left1 clearfix">
        <div class="box clearfix">
          <div class="txt">
            <big>PROFILE</big>
            <em>公司简介</em>
          </div>
          <div class="pic">
            <img class="vcenter" src="/images/b58a6b7f-9867-4371-bc80-1838e0b836b8.jpg" />
          </div>
        </div>
        <div class="right">
          <a class="more" href="/about"> MORE </a>
        </div>
      </div>
    </div>
  </section>
  <section class="home-case clearfix">
    <div class="container">
      <div class="titlez">
        案例中心
      </div>
      <div class="textz">
        Successful Case
      </div>
      <div class="home-casemain clearfix slick-initialized slick-slider">
        <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
        <div aria-live="polite" class="slick-list draggable">
          <div class="slick-track" style="opacity: 1; width: 5706px; left: -1902px;" role="listbox">
            <div class="h-case slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 317px;" tabindex="-1">
              <a href="/hzkh/jwjx.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/a166c97d-6d0e-473e-86aa-0aaad8c44d61.jpg" class="vcenter" />
                  <div class="txt">
                    金纬机械
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 317px;" tabindex="-1">
              <a href="/hzkh/asjt.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/19edacbb-4bca-4191-bc18-c480b1715a01.png" class="vcenter" />
                  <div class="txt">
                    傲胜集团
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 317px;" tabindex="-1">
              <a href="/hzkh/tzdq.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/5a6059c4-ccae-4a9d-889f-f1a0e88bb863.png" class="vcenter" />
                  <div class="txt">
                    天正电气
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 317px;" tabindex="-1">
              <a href="/anlzs/d79c7772-2e52-bca7-466f-6292f6258a1e.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/9200d22e-3c65-49e9-9e84-7b8183437d24.png" class="vcenter" />
                  <div class="txt">
                    天正集团
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide" data-slick-index="0" aria-hidden="true" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
              <a href="/hzkh/klkj.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/25c88f24-c82e-4bfb-88eb-f0246a70bf84.png" class="vcenter" />
                  <div class="txt">
                    科陆科技
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide" data-slick-index="1" aria-hidden="true" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide01">
              <a href="/hzkh/sydq.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/eaebce48-c39c-468e-83b4-55fb9de023de.jpg" class="vcenter" />
                  <div class="txt">
                    思源电气
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide02">
              <a href="/hzkh/hljt.shtml" tabindex="0">
                <div class="pic">
                  <img src="/images/506a66dd-6ed8-457e-abfb-1ba4f4cd1bae.jpg" class="vcenter" />
                  <div class="txt">
                    海隆集团
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide03">
              <a href="/hzkh/hfly.shtml" tabindex="0">
                <div class="pic">
                  <img src="/images/356d9f84-0978-4307-8f6c-234ebfbe3ad8.jpg" class="vcenter" />
                  <div class="txt">
                    华锋铝业
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide04">
              <a href="/hzkh/dlxjt.shtml" tabindex="0">
                <div class="pic">
                  <img src="/images/f6fe41c8-fd15-4dc3-a485-f8e93bdeeda2.jpg" class="vcenter" />
                  <div class="txt">
                    德力西集团
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide05">
              <a href="/hzkh/ajdl.shtml" tabindex="0">
                <div class="pic">
                  <img src="/images/deb94e16-e2f8-4dc7-91a4-f55c77b38046.jpg" class="vcenter" />
                  <div class="txt">
                    安捷电缆
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide" data-slick-index="6" aria-hidden="true" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide06">
              <a href="/hzkh/jwjx.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/a166c97d-6d0e-473e-86aa-0aaad8c44d61.jpg" class="vcenter" />
                  <div class="txt">
                    金纬机械
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide" data-slick-index="7" aria-hidden="true" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide07">
              <a href="/hzkh/asjt.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/19edacbb-4bca-4191-bc18-c480b1715a01.png" class="vcenter" />
                  <div class="txt">
                    傲胜集团
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide" data-slick-index="8" aria-hidden="true" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide08">
              <a href="/hzkh/tzdq.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/5a6059c4-ccae-4a9d-889f-f1a0e88bb863.png" class="vcenter" />
                  <div class="txt">
                    天正电气
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide" data-slick-index="9" aria-hidden="true" style="width: 317px;" tabindex="-1" role="option" aria-describedby="slick-slide09">
              <a href="/anlzs/d79c7772-2e52-bca7-466f-6292f6258a1e.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/9200d22e-3c65-49e9-9e84-7b8183437d24.png" class="vcenter" />
                  <div class="txt">
                    天正集团
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 317px;" tabindex="-1">
              <a href="/hzkh/klkj.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/25c88f24-c82e-4bfb-88eb-f0246a70bf84.png" class="vcenter" />
                  <div class="txt">
                    科陆科技
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 317px;" tabindex="-1">
              <a href="/hzkh/sydq.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/eaebce48-c39c-468e-83b4-55fb9de023de.jpg" class="vcenter" />
                  <div class="txt">
                    思源电气
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 317px;" tabindex="-1">
              <a href="/hzkh/hljt.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/506a66dd-6ed8-457e-abfb-1ba4f4cd1bae.jpg" class="vcenter" />
                  <div class="txt">
                    海隆集团
                  </div>
                </div> </a>
            </div>
            <div class="h-case slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 317px;" tabindex="-1">
              <a href="/hzkh/hfly.shtml" tabindex="-1">
                <div class="pic">
                  <img src="/images/356d9f84-0978-4307-8f6c-234ebfbe3ad8.jpg" class="vcenter" />
                  <div class="txt">
                    华锋铝业
                  </div>
                </div> </a>
            </div>
          </div>
        </div>
        <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button>
      </div>
    </div>
  </section>
  <section class="home-news1 clearfix">
    <div class="container">
      <div class="titlez">
        新闻资讯
      </div>
      <div class="textz">
        News
      </div>
      <div class="line">
        <img src="/images/news-line.png" />
      </div>
      <ul>
        <li> <a href="/hyxw/shglhwys109.shtml"> <time> <big>09</big> <small>2019-10</small> </time>
            <div class="txt">
              <span>上海公路货物运输给大家讲一下运输大件货物时的问题</span>
              <p>目前，公路货物运输行业随着电商的快速发展也在迅速发展，并且已经成为了主流，不过对于一些特殊的货物仍需特别对待，比如较大的货物，在运输较大的货物时首先要考虑大的上海公路货物运输公司，它能给你带来保障，也能给你带来你想看到的结果。重视大型货物物流的安全性也是非常重要的，因此在装载方式上也是非常重要的。如...</p>
            </div> </a> </li>
        <li> <a href="/hyxw/shglysgs0925.shtml"> <time> <big>25</big> <small>2019-09</small> </time>
            <div class="txt">
              <span>上海公路运输公司要做到经济与快速</span>
              <p>目前，市场上有许多公路运输公司，他们可以为客户提供贴心且实惠的服务，因为上海公路运输公司很多，所以激烈的竞争也是在所难免的，所以价格也会大同小异，并且服务质量与态度也会随之不同，不过客户都会根据自身的需求来选择合适的上海公路运输公司。很多人在选择公路货物运输时，肯定会有很多的标准与要求，但对许多人来...</p>
            </div> </a> </li>
        <li> <a href="/hyxw/shglysgs0910.shtml"> <time> <big>10</big> <small>2019-09</small> </time>
            <div class="txt">
              <span>运输冷藏品时要注意哪些事项</span>
              <p>上海公路运输公司在运输货物时总会有一些注意事项，有些更是需要谨慎处理，如危险品、化学品等一些危险物品；有些则不同，比如冷藏品，运输冷藏物品时需要注意控制温度，稍微有些不注意就会使物品融化导致货主使用时出现一些问题，今天就给大家讲讲上海公路运输公司在运输冷藏品时需要注意的问题。1.物流仓储服务完成后，必...</p>
            </div> </a> </li>
        <li> <a href="/hyxw/shglysgs0903.shtml"> <time> <big>03</big> <small>2019-09</small> </time>
            <div class="txt">
              <span>上海公路运输公司:危险品要怎么对待</span>
              <p>对于上海公路运输公司来说，危险品属于一种特殊的货物，所以在运输途中要格外小心，因为很多事故都是因为运输途中不够细心而造成的，所以，今天上海公路运输公司就与大家一起探讨下关于运输危险品要注意的问题。对于危险货物的运输，上海公路运输公司选择的司机和护送人员必须经过专门的培训和认证才能胜任这项工作。司机必...</p>
            </div> </a> </li>
      </ul>
    </div>
  </section>
  <%- include ../partials/footer.ejs %>
  </body>
</html>
