<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>
<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
<section class="banner-ny clearfix">
    <img src="/images/6982c7a5-da19-47d8-a064-61e082e8ed7e.jpg" class="vcenter">
</section>
<section class="ny core-show clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>核心业务</big>
                <small>PRODUCT</small>
                <ul>
                    <li> <a href="/transportService" title="运输服务" id="8" class="aa">运输服务</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li> <a href="/storage" title="仓储" id="7" class="aa">仓储</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li> <a href="/delivery" title="配送" id="6" class="aa">配送</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li class="active"> <a href="/logistics" title="物流服务" id="5" class="aa">物流服务</a>
                        <div style="padding: 0px;">
                        </div> </li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>400&nbsp;886&nbsp;8156</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>物流服务</big>
                <div class="crumb">
                    <a href="/" class="SiteMapPathClass">首页</a> &gt;&gt;
                    <a href="/core/" class="SiteMapPathClass">核心业务</a> &gt;&gt;
                    <a href="/wlfw/" class="SiteMapPathClass">物流服务</a> &gt;&gt;
                    <span>物流服务</span>
                </div>
            </div>
            <div class="part-1 clearfix">
                <div class="pic">
                    <img src="/images/7c16c820-231c-40cc-b7e3-7346b22df973.jpg" class="vcenter" />
                </div>
                <div class="txt">
                    <big>物流服务</big>
                    <p> 作为从事第三方物流服务的专业公司，我们有对这个行业的深刻理解、成功业务运作模式、完善的信息管理系统专业胡物流理论与超作人才、只要您打个电话、我们会为您提供战略规划、物流管理咨询、物流方案设计、业务流程重组、供应链优化物流信息化咨询服务。 </p>
                </div>
            </div>
            <div class="core-showmain clearfix">
                <ul class="core-title clearfix">
                    <li class="active">产品详情</li>
                    <li>在线询价</li>
                </ul>
                <div class="content">
                    <div class="core-nr">
                        <p class="text-1"> 作为从事第三方物流服务的专业公司，我们有对这个行业的深刻理解、成功业务运作模式、完善的信息管理系统专业胡物流理论与超作人才、只要您打个电话、我们会为您提供战略规划、物流管理咨询、物流方案设计、业务流程重组、供应链优化物流信息化咨询服务。 </p>
                        <p> </p>
                        <table style="padding:0px 6px;font-size:13px;" width="950" border="1">
                            <tbody>
                            <tr>
                                <th width="174">
                                    <div style="font-weight:normal;" align="center">
                                        项目
                                    </div> </th>
                                <th width="103">
                                    <div style="font-weight:normal;" align="center">
                                        标准
                                    </div> </th>
                                <th width="163">
                                    <div style="font-weight:normal;" align="center">
                                        计算方法
                                    </div> </th>
                                <th style="font-weight:normal;" width="472"> 描述 </th>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-weight:normal;" align="center">
                                        检查车辆率
                                    </div> </th>
                                <td>
                                    <div align="center">
                                        &gt;99％
                                    </div> </td>
                                <td>
                                    <div align="center">
                                        -------------
                                    </div> </td>
                                <td style="padding:0px 10px;"> <br /> <strong>荣通国际物流</strong>设有专门车检部门，每日对车辆执行任务 <br /> <br /> </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-weight:normal;" align="center">
                                        准时提货率
                                    </div> </th>
                                <td>
                                    <div align="center">
                                        &gt;99％
                                    </div> </td>
                                <td>
                                    <div align="center">
                                        准时/每月总运单
                                    </div> </td>
                                <td style="padding:0px 10px;"> <br /> 根据客户要求准时调派车辆 <br /> <br /> </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-weight:normal;" align="center">
                                        准时到达率
                                    </div> </th>
                                <td>
                                    <div align="center">
                                        &gt;99％
                                    </div> </td>
                                <td>
                                    <div align="center">
                                        准时/每月总运单
                                    </div> </td>
                                <td style="padding:0px 10px;"> <br /> 根据客户要求准时送到<br /> <br /> </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-weight:normal;" align="center">
                                        实时信息反馈及时率
                                    </div> </th>
                                <td>
                                    <div align="center">
                                        =100％
                                    </div> </td>
                                <td>
                                    <div align="center">
                                        100%实时信息
                                    </div> </td>
                                <td style="padding:0px 10px;"> <br /> 24小时/7天，年中无假<br /> <br /> </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-weight:normal;" align="center">
                                        运输准确率
                                    </div> </th>
                                <td>
                                    <div align="center">
                                        &gt;99％
                                    </div> </td>
                                <td>
                                    <div align="center">
                                        准确到达/每月总运单
                                    </div> </td>
                                <td style="padding:0px 10px;"> <br /> 每天定时货物跟踪保证准时货物到达，通过手机通信及GPS卫星定位对货物在途情况及时更新<br /> <br /> </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-weight:normal;" align="center">
                                        运输破损率
                                    </div> </th>
                                <td>
                                    <div align="center">
                                        &gt;0.1％
                                    </div> </td>
                                <td>
                                    <div align="center">
                                        月破损箱数/月承运箱数
                                    </div> </td>
                                <td style="padding:0px 10px;" rowspan="2"> <br /> <p> <strong>荣通国际物流</strong>的司机和战略性的运输伙伴都有丰富的专业知识和实践及经验。能够在运输途中保管好客户的货运输途中保管好客户的货物，避免不必要的货物破损和损失。 </p> <br /> <br /> </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-weight:normal;" align="center">
                                        运输事故率
                                    </div> </th>
                                <td>
                                    <div align="center">
                                        &lt;0.01％
                                    </div> </td>
                                <td>
                                    <div align="center">
                                        每100000公里事故次数小于1次
                                    </div> </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-weight:normal;" align="center">
                                        签收单返回率
                                    </div> </th>
                                <td>
                                    <div align="center">
                                        =100％
                                    </div> </td>
                                <td>
                                    <div align="center">
                                        100％签收单返回
                                    </div> </td>
                                <td style="padding:0px 10px;"> <br /> <strong>荣通国际物流</strong>有专业人员管理签收单<br /> <br /> </td>
                            </tr>
                            <tr>
                                <th>
                                    <div style="font-weight:normal;" align="center">
                                        节假日响应
                                    </div> </th>
                                <td>
                                    <div align="center">
                                        =100％
                                    </div> </td>
                                <td>
                                    <div align="center">
                                        -------------
                                    </div> </td>
                                <td style="padding:0px 10px;"> <br /> 要求客户提前一天通知物流。<br /> <br /> </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                    </div>
                    <div class="core-nr" style="display: none;">
                        <dl class="message clearfix">
                            <form>
                                <dd>
                                    <ul>
                                        <li> <p class="p1"><input type="text" placeholder="姓名" id="username" maxlength="20" /></p> <p class="p2"><input type="text" placeholder="电话（必填）" id="tel" maxlength="20" /><font>电话不能为空</font></p> </li>
                                        <li><input type="text" placeholder="邮箱（必填）" id="email" maxlength="50" /><font>邮箱不能为空</font></li>
                                        <li><input type="text" placeholder="地址" id="addr" maxlength="80" /></li>
                                        <li> <small><input type="text" placeholder="验证码" id="codes" maxlength="4" /><font style="right:45%">验证码不能为空</font></small> <a href="javascript:void(0)" onclick="$(&quot;#ImageKey&quot;).attr(&quot;src&quot;, &quot;/TrueLand_T_Site_Login/CodeImage.aspx?dump=&quot; + Math.random());" class="code"><img src="/TrueLand_T_Site_Login/CodeImage.aspx" alt="" id="ImageKey" class="vcenter" style="width:129px;" /> </a> </li>
                                    </ul>
                                </dd>
                                <dt>
                                    <ul>
                                        <li> <textarea type="text" placeholder="留言内容（必填）" id="contents"></textarea><font>留言内容不能为空</font> </li>
                                        <li><a href="javascript:;" id="send">提交留言</a></li>
                                    </ul>
                                </dt>
                            </form>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="line">
                <img src="/images/news-line.png" />
            </div>

            <div class="related-news clearfix">
                <!--
                <div class="related-title">
                    <span>相关产品</span>Related PRODUCTS
                </div>-->
                <div class="core-main clearfix">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关新闻</span>RELATED NEWS
                </div>
                <ul class="related_newsmain clearfix">
                    <li> <a href="/hyxw/shglhwys109.shtml"> 上海公路货物运输给大家讲一下运输大件货物时的问题 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglysgs0925.shtml"> 上海公路运输公司要做到经济与快速 </a> </li>
                    <li> <a href="/hyxw/shglysgs0910.shtml"> 运输冷藏品时要注意哪些事项 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglysgs0903.shtml"> 上海公路运输公司:危险品要怎么对待 </a> </li>
                    <li> <a href="/hyxw/shglysgs0830.shtml"> 上海公路运输公司谈谈优化物流运作的四个点 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglhwys0827.shtml"> 上海公路货物运输总结出四点保养卡车的误区 </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include ../partials/footer.ejs %>

</body>
</html>