<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>
<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
<section class="banner-ny clearfix">
    <img src="/images/6982c7a5-da19-47d8-a064-61e082e8ed7e.jpg" class="vcenter">
</section>

<section class="ny core-show clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>核心业务</big>
                <small>PRODUCT</small>
                <ul>
                    <li> <a href="/transportService" title="运输服务" id="8" class="aa">运输服务</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li class="active"> <a href="/storage" title="仓储" id="7" class="aa">仓储</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li> <a href="/delivery" title="配送" id="6" class="aa">配送</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li> <a href="/logistics" title="物流服务" id="5" class="aa">物流服务</a>
                        <div style="padding: 0px;">
                        </div> </li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>18601665132</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>仓储</big>
                <div class="crumb">
                    <a href="/" class="SiteMapPathClass">首页</a> &gt;&gt;
                    <a href="/core/" class="SiteMapPathClass">核心业务</a> &gt;&gt;
                    <a href="/ccfw/" class="SiteMapPathClass">仓储</a> &gt;&gt;
                    <span>仓储</span>
                </div>
            </div>
            <div class="part-1 clearfix">
                <div class="pic">
                    <img src="/images/ed83f7c1-e958-4d4f-9ad6-ccb943577f25.jpg" class="vcenter" />
                </div>
                <div class="txt">
                    <big>仓储</big>
                    <div class="text1">
                        各物流中心及中转仓面积达1000-5000平方米，同时采用现代化仓库管理模式作业，配合专业管理及操作人才，按个别顾客不同需要，提供多元化仓储及货物分送服务，服务范围包括货物交收服务拆箱、拼箱、存货管理、分货及包装服务，以及当地即时分送服务等。确保客户妥以付运的货物能获行妥善的存库及分送服务。
                    </div>
                    <br />
                </div>
            </div>
            <div class="core-showmain clearfix">
                <ul class="core-title clearfix">
                    <li class="active">产品详情</li>
                    <li><a href="/message" style="font-weight: bolder;">在线询价</a></li>
                </ul>
                <div class="content">
                    <div class="core-nr">
                        <p class="text1" style="position:relative;bottom:15px;"> 各物流中心及中转仓面积达1000-5000平方米，同时采用现代化仓库管理模式作业，配合专业管理及操作人才，按个别顾客不同需要，提供多元化仓储及货物分送服务，服务范围包括货物交收服务拆箱、拼箱、存货管理、分货及包装服务，以及当地即时分送服务等。确保客户妥以付运的货物能获行妥善的存库及分送服务。 </p>
                        <p class="text1"> <img alt="" src="/images/96db5257-e49e-4d7e-951b-2980b1245ba9.jpg" /> </p>
                    </div>
                    <div class="core-nr" style="display: none;">
                        <dl class="message clearfix">
                            <form>
                                <dd>
                                    <ul>
                                        <li> <p class="p1"><input type="text" placeholder="姓名" id="username" maxlength="20" /></p> <p class="p2"><input type="text" placeholder="电话（必填）" id="tel" maxlength="20" /><font>电话不能为空</font></p> </li>
                                        <li><input type="text" placeholder="邮箱（必填）" id="email" maxlength="50" /><font>邮箱不能为空</font></li>
                                        <li><input type="text" placeholder="地址" id="addr" maxlength="80" /></li>
                                        <li> <small><input type="text" placeholder="验证码" id="codes" maxlength="4" /><font style="right:45%">验证码不能为空</font></small> <a href="javascript:void(0)" onclick="$(&quot;#ImageKey&quot;).attr(&quot;src&quot;, &quot;/TrueLand_T_Site_Login/CodeImage.aspx?dump=&quot; + Math.random());" class="code"><img src="/TrueLand_T_Site_Login/CodeImage.aspx" alt="" id="ImageKey" class="vcenter" style="width:129px;" /> </a> </li>
                                    </ul>
                                </dd>
                                <dt>
                                    <ul>
                                        <li> <textarea type="text" placeholder="留言内容（必填）" id="contents"></textarea><font>留言内容不能为空</font> </li>
                                        <li><a href="javascript:;" id="send">提交留言</a></li>
                                    </ul>
                                </dt>
                            </form>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="line">
                <img src="/images/news-line.png" />
            </div>


            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关新闻</span>RELATED NEWS
                </div>
                <ul class="related_newsmain clearfix">
                    <li> <a href="/newsDetail?uid=0"> 上海公路货物运输给大家讲一下运输大件货物时的问题 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=1"> 上海公路运输公司要做到经济与快速 </a> </li>
                    <li> <a href="/newsDetail?uid=2"> 运输冷藏品时要注意哪些事项 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=3"> 上海公路运输公司:危险品要怎么对待 </a> </li>
                    <li> <a href="/newsDetail?uid=4"> 上海公路运输公司谈谈优化物流运作的四个点 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=5"> 上海公路货物运输总结出四点保养卡车的误区 </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include ../partials/footer.ejs %>
</body>
</html>