<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>
<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
<section class="banner-ny clearfix">
    <img src="/images/da69a550-8287-4995-b035-7e6fc7710088.jpg" class="vcenter" />
</section>
<section class="ny about clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>公司简介</big>
                <small>Company Profile</small>
                <ul>
                    <li> <a href="/about" id="7" title="关于我们">关于我们</a> </li>
                    <li class="active"> <a href="/team" id="6" title="我们团队">我们团队</a> </li>
                    <li> <a href="/honor" id="16" title="荣誉资质">荣誉资质</a> </li>
                    <li> <a href="/fencai" id="17" title="企业风采">企业风采</a> </li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>400&nbsp;886&nbsp;8156</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>我们团队</big>
                <div class="crumb">
                    <a href="/">首页</a> &gt;&gt;
                    <a href="/about.shtml">公司简介</a> &gt;&gt;
                    <span>我们团队</span>
                </div>
            </div>
            <br />
            <p class="text-1"> 公司管理和操作人员都经专业的物流培训上岗，平均年龄在35岁以下，是一支年轻化、专业化、高素质的队伍，驾驶员也是具有专业和高素质人群。长途和市内可调派各式货车，拥有集装箱、半封闭、平板车等各类特种车型，备有3T、5T、10T、50T的进口货车，6米到17米的各类车型货运全国各地，自备仓储，提供门对门的优质服务代办运输保险，安全快捷。 </p>
            <p class="text-1" style="text-align:center;"> <img alt="" src="/images/logs1.jpg" width="100%" /> </p>
            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关新闻</span>RELATED NEWS
                </div>
                <ul class="related_newsmain clearfix">
                    <li> <a href="/hyxw/shglhwys109.shtml"> 上海公路货物运输给大家讲一下运输大件货物时的问题 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglysgs0925.shtml"> 上海公路运输公司要做到经济与快速 </a> </li>
                    <li> <a href="/hyxw/shglysgs0910.shtml"> 运输冷藏品时要注意哪些事项 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglysgs0903.shtml"> 上海公路运输公司:危险品要怎么对待 </a> </li>
                    <li> <a href="/hyxw/shglysgs0830.shtml"> 上海公路运输公司谈谈优化物流运作的四个点 </a> </li>
                    <li class="li-2"> <a href="/hyxw/shglhwys0827.shtml"> 上海公路货物运输总结出四点保养卡车的误区 </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<%- include ../partials/footer.ejs %>
</body>
</html>