<html>
<head>
    <link rel='stylesheet' href='/stylesheets/public.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mmenu.all.min.css' />
</head>
<body>

<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
<section class="banner-ny clearfix">
    <img src="/images/6982c7a5-da19-47d8-a064-61e082e8ed7e.jpg" class="vcenter">
</section>
<section class="ny core-show clearfix">
    <div class="container">
        <div class="leftz">
            <div class="box">
                <big>核心业务</big>
                <small>PRODUCT</small>
                <ul>
                    <li class="active"> <a href="/transportService" title="运输服务" id="8" class="aa">运输服务</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li> <a href="/storage" title="仓储" id="7" class="aa">仓储</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li> <a href="/delivery" title="配送" id="6" class="aa">配送</a>
                        <div style="padding: 0px;">
                        </div> </li>
                    <li> <a href="/logistics" title="物流服务" id="5" class="aa">物流服务</a>
                        <div style="padding: 0px;">
                        </div> </li>
                </ul>
            </div>
            <div class="box1">
                <p class="text"> <i><img class="vcenter" src="/images/addr.png" /></i> 上海市嘉定区纬五路228号 </p>
                <div class="text1">
                    <i><img class="vcenter" src="/images/left-ico.png" /></i>
                    <span>服务热线</span>
                    <em>18601665132</em>
                </div>
            </div>
        </div>
        <div class="rightz">
            <div class="title">
                <big>运输服务</big>
                <div class="crumb">
                    <a href="/" class="SiteMapPathClass">首页</a> &gt;&gt;
                    <a href="/core/" class="SiteMapPathClass">核心业务</a> &gt;&gt;
                    <a href="/ysfw/" class="SiteMapPathClass">运输服务</a> &gt;&gt;
                    <span>运输服务</span>
                </div>
            </div>
            <div class="part-1 clearfix">
                <div class="pic">
                    <img src="/images/6c713a49-e00d-41f0-b512-529cfbcc6369.png" class="vcenter" />
                </div>
                <div class="txt">
                    <big>运输服务</big>
                    <div class="text1">
                        空越国际物流 除自有仓储物流中心之外，还与合作公司建立了快速到达全国省级城市、地级城市、县城及部分乡镇的服务网络，能够实现全国无盲点派送服务，满足客户对各级市场的物流服务需求。
                    </div>
                </div>
            </div>
            <div class="core-showmain clearfix">
                <ul class="core-title clearfix">
                    <li class="active">产品详情</li>
                    <li>在线询价</li>
                </ul>
                <div class="content">
                    <div class="core-nr">
                        <p class="text-1"> 优良的货运服务讲求速度，准确及专业的服务知识。经过多年的努力不懈，我司已具备一切成为一流物流公司的先决条件。同时与业内其它公司保持紧密及良好的业务关系获得他们的支持，保证提供充足的货物装载位置托运货物，我公司的专业员工将以快捷有效的方案完成顾客所托货物安全准时运抵目的地。 </p>
                        <p class="text-1"> 空越国际物流 除自有仓储物流中心之外，还与合作公司建立了快速到达全国省级城市、地级城市、县城及部分乡镇的服务网络，能够实现全国无盲点派送服务，满足客户对各级市场的物流服务需求。 </p>
                        <p class="img"> <img alt="" src="/images/a6b158c0-04ae-47cc-9d13-6c1573dbdb57.png" /> </p>
                        <p class="text-1"> 与全国各地实力物流公司均有合作。保证您的运输货物安全、准时到达！ </p>
                        <div align="center">
                            <table class="MsoNormalTable ke-zeroborder" style="border:currentColor;border-image:none;width:416.05pt;line-height:28px;" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <b><span style="color:#333333;font-family:微软雅黑;font-size:13px;">地名</span></b><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <b><span style="color:#333333;font-family:微软雅黑;font-size:13px;">公里</span></b><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <b><span style="color:#333333;font-family:微软雅黑;font-size:13px;">天数</span></b><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <b><span style="color:#333333;font-family:微软雅黑;font-size:13px;">地名</span></b><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <b><span style="color:#333333;font-family:微软雅黑;font-size:13px;">公里</span></b><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <b><span style="color:#333333;font-family:微软雅黑;font-size:13px;">天数</span></b><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <b><span style="color:#333333;font-family:微软雅黑;font-size:13px;">地名</span></b><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <b><span style="color:#333333;font-family:微软雅黑;font-size:13px;">公里</span></b><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <b><span style="color:#333333;font-family:微软雅黑;font-size:13px;">天数</span></b><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">北京</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1460</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">安阳</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1400</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">徐州</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">660</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">天津</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1330</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">太原</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1600</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">包头</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2200</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">5天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">重庆</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2600</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">5天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">大同</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1800</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">呼和浩特</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2100</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">4天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">石家庄</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1400</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">西安</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1620</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">广州</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1820</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">刑台</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1190</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">成都</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3000</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">6天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">深圳</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2000</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">秦皇岛</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1600</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">沈阳</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2000</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">4天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">福州</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1200</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">张家口</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1620</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">大连</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2200</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">4天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">厦门</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1350</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">唐山</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1490</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">哈尔滨</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2700</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">5天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">赣州</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1400</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">保定</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1400</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">大庆</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2950</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">6天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">南昌</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">900</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">邯郸</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1200</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">长春</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2400</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">5天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">长沙</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1300</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">沧洲</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1200</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">吉林</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2500</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">5天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">南宁</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2200</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">济南</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1000</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">兰州</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2360</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">5天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">柳州</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1900</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">青岛</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">950</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">银川</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2400</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">5天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">海口</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2500</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">4天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">临沂</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">700</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">武汉</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1100</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">贵阳</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2300</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">4天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">烟台</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1160</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">十堰</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1400</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">昆明</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">3000</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">5天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">维纺</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1050</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">合肥</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">620</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">杭州</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">200</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">郑州</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1100</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">蚌埠</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">520</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">宁波</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">400</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                <tr>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="59" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">洛阳</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1200</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="68" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">南京</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">370</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">1天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF2DD;border:1pt inset #0099CC;border-image:none;" width="90" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">温州</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#FFF0F0;border:1pt inset #0099CC;border-image:none;" width="64" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">650</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                    <td style="background:#F4FCFF;border:1pt inset #0099CC;border-image:none;" width="48" valign="center"> <p class="MsoNormal" style="text-align:center;" align="center"> <span style="color:#333333;font-family:微软雅黑;font-size:7pt;">2天</span><span style="color:#666666;font-family:微软雅黑;font-size:13px;"></span> </p> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p> <br /> </p>
                    </div>
                    <div class="core-nr" style="display: none;">
                        <dl class="message clearfix">
                            <form>
                                <dd>
                                    <ul>
                                        <li> <p class="p1"><input type="text" placeholder="姓名" id="username" maxlength="20" /></p> <p class="p2"><input type="text" placeholder="电话（必填）" id="tel" maxlength="20" /><font>电话不能为空</font></p> </li>
                                        <li><input type="text" placeholder="邮箱（必填）" id="email" maxlength="50" /><font>邮箱不能为空</font></li>
                                        <li><input type="text" placeholder="地址" id="addr" maxlength="80" /></li>
                                        <li> <small><input type="text" placeholder="验证码" id="codes" maxlength="4" /><font style="right:45%">验证码不能为空</font></small> <a href="javascript:void(0)" onclick="$(&quot;#ImageKey&quot;).attr(&quot;src&quot;, &quot;/TrueLand_T_Site_Login/CodeImage.aspx?dump=&quot; + Math.random());" class="code"><img src="/TrueLand_T_Site_Login/CodeImage.aspx" alt="" id="ImageKey" class="vcenter" style="width:129px;" /> </a> </li>
                                    </ul>
                                </dd>
                                <dt>
                                    <ul>
                                        <li> <textarea type="text" placeholder="留言内容（必填）" id="contents"></textarea><font>留言内容不能为空</font> </li>
                                        <li><a href="javascript:;" id="send">提交留言</a></li>
                                    </ul>
                                </dt>
                            </form>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="line">
                <img src="/images/news-line.png" />
            </div>

            <div class="related-news clearfix">
                <!--
                <div class="related-title">
                    <span>相关产品</span>Related PRODUCTS
                </div>-->
                <div class="core-main clearfix">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="related-news clearfix">
                <div class="related-title">
                    <span>相关新闻</span>RELATED NEWS
                </div>
                <ul class="related_newsmain clearfix">
                    <li> <a href="/newsDetail?uid=0"> 上海公路货物运输给大家讲一下运输大件货物时的问题 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=1"> 上海公路运输公司要做到经济与快速 </a> </li>
                    <li> <a href="/newsDetail?uid=2"> 运输冷藏品时要注意哪些事项 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=3"> 上海公路运输公司:危险品要怎么对待 </a> </li>
                    <li> <a href="/newsDetail?uid=4"> 上海公路运输公司谈谈优化物流运作的四个点 </a> </li>
                    <li class="li-2"> <a href="/newsDetail?uid=5"> 上海公路货物运输总结出四点保养卡车的误区 </a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<%- include ../partials/footer.ejs %>
</body>
</html>